<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
  <div class="container">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand mb-0" [routerLink]="'/main'">My Activity</a>
    <div class="collapse navbar-collapse">
      <div class="navbar-nav mr-auto">
        <a class="nav-item nav-link" *ngIf="!authentication.isLogin" [routerLink]="'/sign-in'" routerLinkActive>Sign In</a>
        <a class="nav-item nav-link" *ngIf="authentication.isLogin" (click)="authentication.logout()">Sign Out</a>
      </div>
      <span class="navbar-text" *ngIf="authentication.currentUser">
        {{authentication.currentUser.displayName}}
      </span>
    </div>
  </div>
</nav>
